:root {
  --body-color: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);

  --text-color-second: rgb(68, 68, 68);
  --text-color-third: rgb(30, 159, 171);

  --first-color: rgb(110, 87, 224);
  --first-color-hover: rgb(40, 91, 212);

  --second-color: rgb(0, 201, 255);
  --third-color: rgb(192, 166, 49);
  --first-shadow-color: rgba(0, 0, 0, 0.1);

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}


/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  width: 250px;
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
  border: 2px solid #707070;
  color: #000000;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
  color: #000000;
}

.sidebar-title > button {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  row-gap: 20px; /* Adjust the gap between buttons */
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  text-align: left;
  padding: 10px 20px; /* Adjust padding as needed */
  border: 2px solid #707070;
  border-radius: 10px;
  background: none;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-list-item:hover {
  background-color: #fff;
  color: #67FF43;
}
.sidebar-list-item:active{
  border: 2px solid #707070;
}

.sidebar-list-item > button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}





/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
}



/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}


/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}

/* Small <= 768px */
@media (max-width:768) {
  #sidebar {
    width: 100%;
    display: none;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

/* ----- Fields ----- */
.section {
  padding-block: 10px;
  padding-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.col {
  display: flex;
  width: 50%;
}

.field-info {
  position: relative;
  display: flex;
  width: 70%;
  background: var(--color-white);
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  border-radius: 20px;
}

.field-image {
  width: 100%;
  height: 460px;
  border-radius: 20px;
}

.field-box-info {
  border-radius: 20px;
  background: var(--color-white);
  width: 900px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  padding-left: 10px;
}

.field-header {
  margin-bottom: 10px;
}

.field-list-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.field-list-info span {
  font-size: 14px;
  background: var(--first-color);
  color: var(--color-white);
  padding: 2px 10px;
  border-radius: 5px;
}

.about-btn button {
  position: absolute;
  left: 20px;
  top: 20px;
  background: var(--first-color);
  color: var(--color-white);
  border-radius: 30px;

}

.about-btn button:hover {
  background: var(--first-color-hover);
}

.field-selection {
  padding-top: 20px;
}

/* ----- PROJECTS BOX ----- */
.field-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.field-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 550px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
}

.field-image>i {
  font-size: 50px;
  color: #00B5E7;
  margin-bottom: 25px;
}

.field-image label {
  font-size: 15px;
  color: #777;
}

.field-image::after,
.contact-info::after {
  content: "";
  position: absolute;
  bottom: -100%;
  background: var(--second-color);
  width: 100%;
  height: 100%;
  transition: .4s;
  z-index: 1;
}

.field-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 550px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  gap: 2px;
  overflow: hidden;
}

.field-overall-status {
  position: relative;
  width: 100%;
  height: 650px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
}

.field-soil-status {
  position: relative;
  width: 100%;
  height: 890px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
}

.field-disease-status {
  position: relative;
  width: 100%;
  height: 750px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
  scroll-behavior: auto;
}

.field-container h3 {
  text-align: center;
}

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
  .featured-text {
    padding: 0;
  }

  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
  .nav-button {
    display: none;
  }

  .nav-menu.responsive {
    left: 0;
  }

  .nav-menu {
    position: fixed;
    top: 80px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    width: 100%;
    min-height: 450px;
    height: 90vh;
    transition: .3s;
  }

  .nav_menu_list {
    flex-direction: column;
  }

  .nav-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .featured-text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
  }

  .social_icons {
    margin-top: 2em;
  }

  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }

  .image,
  .image img {
    width: 150px;
    height: 150px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .col {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-info,
  .contact-info {
    width: 100%;
  }

  .section {
    justify-content: center;
  }

  .project-box {
    width: 80%;
  }

}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px) {
  .featured-name {
    font-size: 40px;
  }

  .section {
    width: 100%;
  }

  .form-inputs {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
  }
}

.footer_menu_list {
  list-style: none;
}

.footer_menu_list a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  margin-inline: 20px;
}

.footer-social-icons {
  display: flex;
  gap: 30px;
  color: #67FF43;
  font-size: large;
}

.bottom-footer {
  font-size: 15px;
  margin-top: 10px;
  color: #000000;
}

.container {
  width: 100%;
  position: relative;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background: #fff;
  padding-block: 40px 60px;
}

.row-btn{
  opacity: 0.5;
  width: 100px;
  height: 30px;
  
}

.row-btn:hover{
  background-color: #67FF43;
  opacity: 1;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.progress {
  height: 100%;
  background-color: #4CAF50;
  width: 0%;
}

